<!DOCTYPE html>
<html>
<body>

<h1>Texas Hold-em Probability Calculator</h1>

<form action = "/" method = post>

    <label for="num_hands">Number of Hands (2 to 10)</label><br><br>
    <input type="text" id="num_hands" name="num_hands"><br><br>
    <input type="submit" value = "Begin"</input>

</form>

{% if view.show_hands_form %}

    <form action = "/hands" method = post>

    {% for num in view.hand_numbers %}

        <h3>Hand {{ num }}</h3>

        <div>
            <h5>First Card</h5>

            {% for val in CARD_VALUES %}
                <input type="radio" id="first_val{{ val }}" name="first_value{{ num }}" value = "{{ val }}">
                <label for="first_val{{ val }}">{{ val }}<label>
            {% endfor %}

            <br>OF: 

            {% for suit in SUITS %}
                <input type="radio" id="first_suit{{ suit }}>" name="first_suit{{ num }}" value = "{{ suit }}">
                <label for="hand{{ num }}first_suit{{ suit }}">{{ suit }} <label>
            {% endfor %}

            <h5>Second Card</h5>
            {% for val in CARD_VALUES %}
                <input type="radio" id="second_val{{ val }}" name="second_value{{ num }}" value = "{{ val }}">
                <label for="first_val{{ val }}">{{ val }}<label>
            {% endfor %}

            <br>
            
            OF:

            {% for suit in SUITS %}
                <input type="radio" id="second_suit{{ suit }}>" name="second_suit{{ num }}" value = "{{ suit }}">
                <label for="second_suit{{ suit }}">{{ suit }} <label>
            {% endfor %}

        </div>

        
    {% endfor %}

    <br>

    <input type="submit" value = "Submit"</input><br><br>

    </form>

{% endif %}

{% if view.show_community_form %}

    <form action = "/community" method = post>

        <h3>Flop</h3>

            <h5>First Card</h5>

            {% for val in CARD_VALUES %}
                <input type="radio" id="first_val{{ val }}" name="first_value" value = "{{ val }}">
                <label for="first_val{{ val }}">{{ val }}<label>
            {% endfor %}

            <br>OF: 

            {% for suit in SUITS %}
                <input type="radio" id="first_suit{{ suit }}>" name="first_suit" value = "{{ suit }}">
                <label for="first_suit{{ suit }}">{{ suit }} <label>
            {% endfor %}

            <h5>Second Card</h5>

            {% for val in CARD_VALUES %}
                <input type="radio" id="second_val{{ val }}" name="second_value" value = "{{ val }}">
                <label for="second_val{{ val }}">{{ val }}<label>
            {% endfor %}

            <br>
            
            OF:

            {% for suit in SUITS %}
                <input type="radio" id="second_suit{{ suit }}>" name="second_suit" value = "{{ suit }}">
                <label for="second_suit{{ suit }}">{{ suit }} <label>
            {% endfor %}

            <br>

            <h5>Third Card</h5>

            {% for val in CARD_VALUES %}
                <input type="radio" id="first_val{{ val }}" name="second_value" value = "{{ val }}">
                <label for="first_val{{ val }}">{{ val }}<label>
            {% endfor %}

            <br>
            
            OF:

            {% for suit in SUITS %}
                <input type="radio" id="third_suit{{ suit }}>" name="third_suit" value = "{{ suit }}">
                <label for="third_suit{{ suit }}">{{ suit }} <label>
            {% endfor %}

    <br><br>

    <input type="submit" value = "Submit"</input>
    </form>

    <form action = "/community" method = post>

        <h3>Turn</h3>

        {% for val in CARD_VALUES %}
                <input type="radio" id="first_val{{ val }}" name="first_value">
                <label for="first_val{{ val }}">{{ val }}<label>
            {% endfor %}

            <br>OF: 

            {% for suit in SUITS %}
                <input type="radio" id="first_suit{{ suit }}>" name="first_suit">
                <label for="first_suit{{ suit }}">{{ suit }} <label>
            {% endfor %}
        
        <br><br>

        <input type="submit" value = "Submit"</input>
    </form>

    <form action = "/community" method = post>

        <h3>River</h3>

        {% for val in CARD_VALUES %}
            <input type="radio" id="first_val{{ val }}" name="first_value">
            <label for="first_val{{ val }}">{{ val }}<label>
        {% endfor %}

        <br>OF: 

        {% for suit in SUITS %}
            <input type="radio" id="first_suit{{ suit }}>" name="first_suit">
            <label for="first_suit{{ suit }}">{{ suit }} <label>
        {% endfor %}

        <br><br>

        <input type="submit" value = "Submit"</input>
    </form>

{% endif %}

{% if view.show_probabilities %}

    <h1>Probabilities</h1>

    {% for (i, si) in view.hand_numbers_pairs %}

    Hand {{ si }}: Win {{holdem_data.percentages()[0][i]}}%, Tie {{holdem_data.percentages()[1][i]}}% <br>

    {% endfor %}

{% endif %}

</body>
</html>